body {
    background-color: BurlyWood;
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 10px;
}

.header-img {
    height: 99px;
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
}

main {
    background-color: BlanchedAlmond;
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 50px;
    background-color: Wheat;
    padding: 10px;
}

.main-img {
    margin: 10px;
}

h2 {
    color: Peru;
}

p {
    font-size: 20px;
}


table {
    border: 3px solid black;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.highlight {
    border: 3px solid Cornsilk;
    background-color: Cornsilk;
    color: black;
}

footer {
    background-color: Wheat;
    color: Peru;
    text-align: center;
    padding: 10px;

}

footer h2 {
    color: darkblue;
}

footer p {
    font-size: 15px;
}
